<a href="/crud/room/create">Добавить помещение</a><br>
<form name="searchForm" ng-submit="searchForm.$valid && searchRoom()">
    <label for="assignment">Назначение: </label>
    <input name="assignment" id="assignment" type="text" required ng-model="query.assignment"><br>
    <label ng-show="searchForm.assignment.$valid" for="access">Доступ: </label>
    <select id="access" name="access" ng-model="query.access_fk" required ng-show="searchForm.assignment.$valid">
        <option ng-repeat="access in accesses" ng-value="access.id">
            {{access.name}}
        </option>
    </select><br>
    <input type="submit" value="Отправить" ng-show="searchForm.$valid"><br>
</form>
{{status}}
<table ng-hide="results.length === 0">
    <thead>
    <tr>
        <td>Номер</td>
        <td>Назначение</td>
        <td>Доступ</td>
        <td>Площадь</td>
        <td>Уличное?</td>
        <td ng-show="isLoggedIn">Обновить</td>
        <td ng-show="isLoggedIn">Удалить</td>
    </tr>
    </thead>
    <tbody ng-hide="isLoggedIn">
        <tr ng-repeat="room in results">
            <td>{{room.id}}</td>
            <td>{{room.assignment}}</td>
            <td>{{room.access.name}}</td>
            <td>{{room.area}}</td>
            <td>{{room.access.street ? 'Да':'Нет'}}</td>
        </tr>
    </tbody>
    <tbody ng-show="isLoggedIn">
        <tr ng-repeat="room in results">
            <form name="updateForm" novalidate>
                <td>{{room.id}}</td>
                <td><input type="text" ng-model="room.assignment" required></td>
                <td>
                    <select ng-model="room.access_fk" required>
                        <option ng-repeat="access in accesses" ng-value="access.id">
                            {{access.name}}
                        </option>
                    </select>
                </td>
                <td><input type="number" min="1" max="1000" required ng-model="room.area"></td>
                <td>
                    <label for="{{room.id + 'ST'}}">Да</label>
                    <input id="{{room.id + 'ST'}}" type="radio" ng-value="true" name="{{room.id + 'street'}}" required ng-model="room.street">
                    <label for="{{room.id + 'SF'}}">Нет</label>
                    <input id="{{room.id + 'SF'}}" type="radio" ng-value="false" name="{{room.id + 'street'}}" required ng-model="room.street">
                </td>
                <td><input type="submit" ng-click="updateForm.$valid && update(room)" value="Обновить"></td>
                <td><input type="submit" ng-click="delete(room)" value="Удалить"></td>
            </form>
        </tr>
    </tbody>
</table>