<form name="CRUDForm" novalidate ng-submit="CRUDForm.$valid && prisoner.send()">
    <label for="fullName">Фамилия Имя Отчество: </label>
    <input type="text" id="fullName" name="fullName" ng-model="prisoner.data.fullName" required></input><br>
    <label for="arrivement">Дата прибытия: </label>
    <input type="date" id="arrivement" name="arrivement" ng-model="prisoner.data.arrivement" required></input><br>
    <label for="freedom">Дата освобождения: </label>
    <input type="date" id="freedom" name="freedom" ng-model="prisoner.data.freedom" required></input><br>
    <label for="regime">Режим: </label>
    <select id="regime" name="regime" required
            ng-change="changeRegime()"
            ng-model="prisoner.data.regime">
        <option ng-repeat="regime in prisoner.regimes"
            value="{{regime}}">
            {{regime.name}}
        </option>
    </select><br>
    <label for="reputations">Репутации: </label>
    <select id="reputations" name="reputations" required size="2"
            ng-model="prisoner.data.reputations" multiple>
        <option ng-repeat="reputation in prisoner.reputations"
                value="{{reputation}}"
                title="{{reputation.effect}}">
            {{reputation.name}}
        </option>
    </select><br>
    <label for="programs">Программы: </label>
    <select id="programs" name="programs" required size="2"
            ng-model="prisoner.data.programs" multiple>
        <option ng-repeat="program in prisoner.programs"
                value="{{program}}">
            {{program.name}}
        </option>
    </select><br>
    <label for="ward">Камера: </label>
    <select id="ward" name="ward" required
            ng-model="prisoner.data.ward">
        <option ng-repeat="ward in prisoner.wards"
            value="{{ward}}">
            {{ward.id}}
        </option>
    </select><br>
    <input type="submit" value="Добавить"></input>
</form>
Новый заключённый: <br>
ФИО: {{prisoner.data.fullName}}<br>
Дата прибытия: {{prisoner.data.arrivement}}<br>
Освобождение: {{prisoner.data.freedom}}<br>
Репутации: {{prisoner.data.reputations}}<br>
Программы: {{prisoner.data.programs}}<br>
Камера: {{prisoner.data.ward}}<br>
Режим: {{prisoner.data.regime}}<br>
