<a href="/crud/prisoner/create">Добавить нового</a><br>
Поиск:
<form name="searchForm" novalidate ng-submit="searchForm.$valid && searchPrisoners()">
    <label for="surname">Фамилия: </label>
    <input type="text" id="surname" name="surname" ng-model="data.surname" required><br>
    <label ng-show="searchForm.surname.$valid" for="name">Имя: </label>
    <input ng-show="searchForm.surname.$valid" type="text" id="name" name="name"
           ng-model="data.name" required><br>
    <label ng-show="searchForm.name.$valid" for="patronymic">Отчество: </label>
    <input ng-show="searchForm.name.$valid" type="text" id="patronymic" name="patronymic"
           ng-model="data.patronymic" required><br>
    <input type="submit" value="Поиск" ng-show="searchForm.$valid">
</form>
<table ng-hide="results.length === 0">
    <thead>
        <tr>
            <td>Номер</td>
            <td>ФИО</td>
            <td>Программы</td>
            <td>Репутации</td>
            <td>Режим</td>
            <td>Дата прибытия</td>
            <td>Дата освобождения</td>
            <td>Камера</td>
            <td ng-show="isLoggedIn">Обновить</td>
            <td ng-show="isLoggedIn">Удалить</td>
        </tr>
    </thead>
    <tbody ng-hide="isLoggedIn">
        <tr ng-repeat="prisoner in results">
            <td>{{prisoner.id}}</td>
            <td>{{prisoner.fullname}}</td>
            <td>
                <div ng-repeat="program in prisoner.programs">
                    {{program.name}}
                </div>
            </td>
            <td>
                <!--suppress Annotator -->
                <div ng-repeat="reputation in prisoner.reputations">
                    {{reputation.name}}
                </div>
            <td>{{prisoner.regime.name}}</td>
            <td>{{prisoner.arrivement | date}}</td>
            <td>{{prisoner.freedom | date}}</td>
            <td>{{prisoner.room.id}}</td>
        </tr>
    </tbody>
    <tbody ng-show="isLoggedIn">
    <tr ng-repeat="prisoner in results">
        <td>{{prisoner.id}}</td>
        <td>{{prisoner.fullname}}</td>
        <td><select size="2" ng-model="prisoner.programs" multiple title="Программы"
                    ng-options="program.name for program in prisoner.availablePrograms track by program.id">
        </select></td>
        <td><select size="2" ng-model="prisoner.reputations" multiple title="Репутации"
                    ng-options="reputation.name for reputation in reputations track by reputation.id">
        </select></td>
        <td><select required ng-change="regimeChanged(prisoner)" ng-model="prisoner.regime" title="Режим"
                    ng-options="regime.name for regime in regimes track by regime.id">
        </select></td>
        <td>{{prisoner.arrivement | date}}</td>
        <td><input type="date" ng-model="prisoner.freedom" required min="{{prisoner.arrivement}}" title="Дата прибытия"></td>
        <td><select required ng-model="prisoner.room" title="Камера"
                    ng-options="ward.id for ward in prisoner.availableWards track by ward.id"></select></td>
        <td><input type="submit" value="Обновить" ng-click="update(prisoner)"></td>
        <td><input type="submit" value="Удалить" ng-click="delete(prisoner)"></td>
    </tr>
    </tbody>
</table>

