input.ng-invalid.ng-touched {
    border-color: red;
}

input.ng-valid.ng-touched {
    border-color: green;
}

select.ng-invalid.ng-touched {
    border-color: red;
}

select.ng-valid.ng-touched {
    border-color: green;
}
