Уже зарегистрированы? Войдите:
<form name="loginForm" ng-submit="loginForm.$valid && authorize()" novalidate>
    <label for="logUser">Логин: </label>
    <input id="logUser" name="logUser" ng-model="data.username" type="text" required><br>
    <label for="logPass">Пароль: </label>
    <input id="logPass" name="logPass" ng-model="data.password" type="password" required><br>
    <input type="submit" value="Войти">
</form>
{{status}}<br>
Ещё нет аккаунта? Зарегистрируйтесь:
<form name="regForm" ng-submit="regForm.$valid && register()" novalidate>
    <label for="username">Логин: </label>
    <input id="username" name="username" ng-model="data.username" type="text" required><br>
    <label for="password">Пароль: </label>
    <input id="password" name="password" ng-model="data.password" type="password" required><br>
    <input type="submit" value="Submit">
</form>
<a href ng-click="vk()">ВК</a>
