<form name="loginForm" ng-submit="loginForm.$valid && login.login()" novalidate>
    <label for="logUser">Логин: </label>
    <input id="logUser" name="logUser" ng-model="login.data.username" type="text" required></input><br>
    <label for="logPass">Пароль: </label>
    <input id="logPass" name="logPass" ng-model="login.data.password" type="password" required></input><br>
    <input type="submit" value="Войти"></input>
</form>
<form name="regForm" ng-submit="regForm.$valid && login.register()" novalidate>
    <label for="username">Логин: </label>
    <input id="username" name="username" ng-model="login.data.username" type="text" required></input><br>
    <label for="password">Пароль: </label>
    <input id="password" name="password" ng-model="login.data.password" type="password" required></input><br>
    <input type="submit" value="Submit"></input>
</form>
