<menu></menu>
<form name="loginForm" action="login" method="POST">
    <label for="username">Login: </label>
    <input name="username" ng-model="username" type="text"></input><br>
    <label for="password">Password: </label>
    <input name="password" ng-model="password" type="password"></input><br>
    <input type="submit">Submit</input>
</form>
<form name="regForm" action="register" method="POST">
    <label for="username">Login: </label>
    <input name="username" ng-model="username" type="text"></input><br>
    <label for="password">Password: </label>
    <input name="password" ng-model="password" type="password"></input><br>
    <input type="submit">Submit</input>
</form>
