<a href="/crud/staff/search">Поиск</a><br>
<b ng-hide="isLoggedIn">Только авторизованные пользователи могут добавлять новые данные!</b>

<div layout="column" ng-cloak class="md-inline-form" ng-show="isLoggedIn">
    <form name="createForm" novalidate ng-submit="createForm.$valid && sendStaff()">
        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Фамилия</label>
                    <input title="Фамилия" ng-model="data.surname" required name="surname">
                    <div ng-messages="createForm.surname.$error">
                        <div ng-message="required">Введите фамилию</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Имя</label>
                    <input title="Имя" ng-model="data.name" required name="name">
                    <div ng-messages="createForm.name.$error">
                        <div ng-message="required">Введите имя</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Отчество</label>
                    <input title="Отчество" ng-model="data.patronymic" required name="patronymic">
                    <div ng-messages="createForm.patronymic.$error">
                        <div ng-message="required">Введите отчество</div>
                    </div>
                </md-input-container>
                </div>
            </md-content>
        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Должность</label>
                    <md-select title="Должность" ng-model="data.appointment_fk" required name="appointment">
                        <md-option ng-repeat="appointment in appointments" ng-value="appointment.id">
                            {{appointment.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="createForm.appointment.$error">
                        <div ng-message="required">Выберите должность</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Рабочее место</label>
                    <md-select title="Рабочее место" ng-model="data.office_fk" required name="office">
                        <md-option ng-repeat="office in offices" ng-value="office.id">
                            {{office.assignment}}
                        </md-option>
                    </md-select>
                    <div ng-messages="createForm.office.$error">
                        <div ng-message="required">Выберите рабочее место</div>
                    </div>
                </md-input-container>
            </div>
        </md-content>
        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <md-button type="submit">Добавить</md-button>
                </md-input-container>
            </div>
        </md-content>
    </form>
</div>