<b ng-hide="isLoggedIn">Только авторизованные пользователи могут добавлять новые данные!</b>
<div ng-show="isLoggedIn">
<form name="CRUDForm" novalidate ng-submit="CRUDForm.$valid && staff.send()">
    <label for="surname">Фамилия: </label>
    <input type="text" id="surname" name="surname" ng-model="staff.data.surname" required><br>
    <label ng-show="CRUDForm.surname.$valid" for="name">Имя: </label>
    <input ng-show="CRUDForm.surname.$valid" type="text" id="name" name="name"
           ng-model="staff.data.name" required><br>
    <label ng-show="CRUDForm.name.$valid" for="patronymic">Отчество: </label>
    <input ng-show="CRUDForm.name.$valid" type="text" id="patronymic" name="patronymic"
           ng-model="staff.data.patronymic" required><br>
    <label ng-show="CRUDForm.patronymic.$valid" for="appointment">Должность: </label>
    <select ng-show="CRUDForm.patronymic.$valid" id="appointment" name="appointment" ng-model="staff.data.appointment" required>
        <option ng-repeat="appointment in staff.appointments"
            value="{{appointment}}">
            {{appointment.name}}
        </option>
    </select><br>
    <label ng-show="CRUDForm.appointment.$valid" for="office">Рабочее место: </label>
    <select ng-show="CRUDForm.appointment.$valid" id="office" name="office" ng-model="staff.data.office" required>
        <option ng-repeat="office in staff.offices"
                title="{{office.id}}"
                value="{{office}}">
            {{office.assignment}}
        </option>
    </select><br>
    <input ng-show="CRUDForm.$valid" type="submit" value="Добавить">
</form>
{{staff.status}}
</div>
